/hybris/*
!/hybris/config/
/hybris/config/*
!/hybris/config/local*
/hybris-*
/licenses/*
/Mobile-Commerce-SDK
/.idea
/extensions/**/gensrc/
/extensions/**/addons/
/extensions/**/addonsrc/
/extensions/**/commonwebsrc/
/extensions/**/classes/
/extensions/**/testclasses/
/extensions/**/eclipsebin/
/extensions/**/.settings/
/extensions/**/.externalToolBuilders/
/extensions/**/.classpath
/extensions/**/.pmd
/extensions/**/.project
/extensions/**/.springBeans
/extensions/**/*.iml
/extensions/**/bin/*.jar
/extensions/**/extensioninfo.xsd
/extensions/**/resources/beans.xsd
/extensions/**/resources/items.xsd
/extensions/**/hmc/resources/hmc.xsd
/extensions/**/resources/**/*-testclasses.xml
*.log
pom.xml
